.choose{
    display:flex;
    justify-content:center;
}


.choose__top{
    height: 153px;
}

.choose__left{
    display:flex;
    flex-flow:column;
    align-items:center;
    margin:0px 10px;
    padding:0px 50px;
    /* justify-content:center; */
}

/* .choose__left .whoAreWe{
    display:flex;
}
.choose__left .whoAreWe__text p{
    width: 600px;
    height: 83px;
    margin: 30px 14px 36px 7px;
    font-family: OCRAExtended;
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    text-align: center;
    color: #ffca60;
} */

/* .choose__left .whoAreWe__qmark{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 69px;
    height: 90px;
    margin: 30px 15px 33px 3px;

    border-radius: 15px;
    background-color: #ffca60;
}

.choose__left .whoAreWe__qmark p{
    width: 36px;
    height: 61px;
    font-family: OCRAExtended;
    font-size: 59px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -5.9px;
    text-align: center;
    color: var(--dark-grey);
}

.choose__left .para1{
    width: 584px;

    margin: 66px 10px 23px 7px;
    font-family: ISOCPEUR;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: #ffca60;
}

.choose__left .para2{
    width: 584px;

    margin: 28px 10px 84px 7px;
    font-family: ISOCPEUR;
    font-size: 27px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--light-grey);
} */

.choose__right{
    display:flex;
    margin:0px 10px;
}

.choose__right .col1{
    display:flex;
    flex-flow:column;
    justify-content:flex-end;
    align-items:flex-end;
}

.choose__right .col1 .col1__image img{
    max-width: 24.75rem;
    height: 31.063rem;
    /* margin: 20.5px 24.5px 19.5px 9.5px; */
    margin:0.625rem;
    object-fit:fill;
    border-radius: 15px;
}

.choose__right .col2{
    display:flex;
    flex-flow:column;
}

.choose__right .col2 .col2__image img{
    width: 16.375rem;
    height: 20.25rem;
    /* margin: 20px 17px 20px 14px; */
    margin:0.625rem;
    object-fit: fill;
    border-radius: 15px;
}
.col3 .greyRectangle{
    /* margin:10px 12px 32px 10px; */
}
.col4 .greyRectangle{
    /* margin:10px; */
}