.infoblock{
    display:flex;
    justify-content:center;
    width: 41.875rem;
}

.infoblock .text{
    display:flex;
    flex-flow:column;
}

.infoblock .title{
    display:flex;
    justify-content:flex-start;
    /* width: 670px; */
    /* height: 100px; */
    gap:2.5rem;
}
.infoblock .title__text{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    /* margin-inline:30px; */
}
.infoblock .title__text p{
    
    font-family: OCRAExtended;
    font-size: 5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    text-align: center;
    color: var(--general-color);
}

.infoblock .title__qmark{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 4.375rem;
    height: 5.625rem;
    border-radius: 15px;
    background-color: var(--general-color);
}

.infoblock .title__qmark p{
    /* width: 36px;
    height: 61px; */
    font-family: OCRAExtended;
    font-size: 4.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    /* letter-spacing: -4.9px; */
    text-align: center;
    color: var(--dark-grey);
}


.infoblock .text .para1{
    display:flex;
    justify-content:flex-start;
}

.infoblock .text .para1 p{
    width: 100%;
    /* width: 38.5rem; */
    /* height: 10.875rem; */
    white-space:pre-line;
    margin-top: 7.0rem ;
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--general-color);
}

.infoblock .text .para2{
    display:flex;
    justify-content:flex-start;
}

.infoblock .text .para2 p{
    display:flex;
    /* width: 38.5rem; */
    white-space:pre-line;
    width:100%;
    /* height: 223px; */
    margin-top:3.125rem ;
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--light-grey);
}