.infoblock{
    display:flex;
    justify-content:center;
    width: 41.875rem;
}

.infoblock .text{
    display:flex;
    flex-flow:column;
}

.infoblock .title{
    display:flex;
    justify-content:flex-start;
    gap:2.5rem;
}
.infoblock .title__text{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.infoblock .title__text p{
    
    font-family: OCRAExtended;
    font-size: 5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    /* text-align: center; */
    color: var(--general-color);
}

.infoblock .title__qmark{
    display:flex;
    justify-content:center;
    align-items:center;
    width: 4.375rem;
    height: 5.625rem;
    border-radius: 15px;
    background-color: var(--general-color);
}

.infoblock .title__qmark p{
    font-family: OCRAExtended;
    font-size: 4.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    /* text-align: center; */
    color: var(--dark-grey);
}


.infoblock .text .para1{
    display:flex;
    justify-content:flex-start;
}

.infoblock .text .para1 p{
    width: 100%;
    white-space:pre-line;
    margin-top: 7.0rem ;
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--general-color);
}

.infoblock .text .para2{
    display:flex;
    justify-content:flex-start;
}

.infoblock .text .para2 p{
    display:flex;
    white-space:pre-line;
    width:100%;
    margin-top:3.125rem ;
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--light-grey);
}

@media screen and (min-width:300px) and (max-width:480px){
    .infoblock{
        width:75%;
    }
    .infoblock .title{
        justify-content:center;
        /* width:100%; */
    }
    .infoblock .title__text{
        justify-content:center;
    }
    .infoblock .title__text p{
        font-size:6rem;
    }
    .infoblock .title__qmark p{
        font-size:5rem;
    }
    .infoblock .text .para1{
        justify-content:center;
        max-width:100%;
    }
    .infoblock .text .para1 p{
        white-space: normal;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.08rem;
        width: 100%;
    }
    .infoblock .text .para2{
        justify-content:center;
        max-width:100%;
    }
    .infoblock .text .para2 p{
        white-space: normal;
        font-size: 3rem;
        text-align: center;
        letter-spacing: 0.08rem;
        width: 100%;
    }
}

/* @media screen and (min-width: 300px) and (max-width: 640px) {
    .infoblock .text .para1 {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .infoblock .text .para2 {
        display: flex;
        justify-content: center;
        max-width: 100%;
    }

    .title {
        align-items: center;
        justify-content: center;
    }

    .title__text p {
        font-size: 8rem;
    }

    .infoblock .text .para2 p {
        white-space: pre-wrap;
        font-size: 4rem;
        text-align: center;
        width: 100%;
    }

    .infoblock .text .para1 p {
        white-space: pre-wrap;
        font-size: 4rem;
        text-align: center;
        width: 100%;
    }
}

@media screen and (min-width: 640px) and (max-width: 768px) {
    .infoblock .text .para2 p {
        font-size: 1.688rem;
    }

    .infoblock .text .para1 p {
        font-size: 1.688rem;
    }

    .title__text p {
        font-size: 5rem;
    }

    .infoblock .text .para1 {
        display: flex;
        max-width: 100%;
    }

    .infoblock .text .para2 {
        display: flex;
        justify-content: left;
        max-width: 100%;
    }

    .infoblock .text .para1 p {
        white-space: pre-wrap;
        font-size: 2.5rem;
        text-align: left;
        width: 100%;
    }

    .infoblock .text .para2 p {
        white-space: pre-wrap;
        font-size: 2.5rem;
        text-align: left;
        width: 100%;
    }
} */