.show {
    margin-block: 100px;
    display:flex;
    flex-flow:column;
    justify-content:center;
}


.show .show__top{
    display:flex;
}

/* .show__top .top__text{
    display:flex;
    justify-content:center;
    align-items:center;
} */
.show__top .top__text h1{
    width: 850px;
    height: 83px;
    /* margin: 79px 14px 87px 8px; */
    margin-top:30px;
    font-family: OCRAExtended;
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    text-align: left;
    color:var(--light-grey);
}

.show .show__bottom{
    display:flex;
}

.show__bottom .bottom__left div{
    display:flex;
    flex-flow:row;
    justify-content:flex-end;
}
.show__bottom .bottom__center{
    display:flex;
    flex-flow:row;
}
.show__bottom .FlexColumn{
    display:flex;
    flex-flow:column;
}

.show__bottom .center__leftTop{
    display:flex;
    justify-content:space-between;
}
.show__bottom .center__leftMid{
    display:flex;
    flex-flow:row;
    background-color:var(--grey);
    padding:60px 70px 40px 40px;
    border-radius:15px;
    margin:10px;
}

.show__bottom .leftMid__text{
    display:flex;
    justify-content:flex-end;
}

.show__bottom .leftMid__text .status{
    width: 109px;
    height: 38px;
    /* margin: 0 361px 7px 4px; */
    /* padding: 10px; */
    border-radius: 6px;
    background-color: var(--general-color);
}

.show__bottom .leftMid__text .status p{
width: 87px;
height: 25px;
padding-inline:8px;
padding-block:6px;
font-family: OCRAExtended;
font-size: 24px;
font-weight: normal;
font-stretch: normal;
font-style: normal;
line-height: 1.04;
letter-spacing: -2.4px;
text-align: left;
color: #302a29;
}

.show__bottom .leftMid__text h4{
    width: 338px;
    height: 57px;
    margin: 7px 136px 7px 0;
    font-family: OCRAExtended;
    font-size: 55px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -5.5px;
    text-align: left;
    color: var(--general-color);
}

.show__bottom .leftMid__text h5{
    width: 474px;
    height: 50px;
    margin: 7px 0 0;
    font-family: OCRAExtended;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -2.4px;
    text-align: left;
    color: var(--light-grey);
}

.show__bottom .rightMid__image{
    display:flex;
    justify-content:center;
    align-items:center;
}

.show__bottom .leftMid__image img{
    height:530px;
    width:auto;
    border-radius:15px;
    padding-bottom:20px;

}






.show__bottom .center__rightMid{
    display:flex;
    flex-flow:row;
    background-color:var(--grey);
    padding:60px 70px 40px 40px;
    border-radius:15px;
    margin:10px;
}

.show__bottom .rightMid__text{
    display:flex;
    justify-content:flex-end;
}

.show__bottom .rightMid__text .status{
    width: 81px;
  height: 29px;
  /* margin: 0 176px 7px 0;
  padding: 5px 9px 6px 7px; */
  border-radius: 6px;
  /* background-color: #ffca60; */
    background-color: var(--general-color);
}

.show__bottom .rightMid__text .status p{
padding-inline:8px;
padding-block:6px;
width: 65px;
  height: 18px;
  font-family: OCRAExtended;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: -1.8px;
  text-align: left;
  color: #302a29;
}

.show__bottom .rightMid__text h4{
    /* width: 206px; */
    height: 41px;
    margin: 7px 51px 7px 0;
    font-family: OCRAExtended;
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -4px;
    text-align: left;
    color: var(--general-color);
}

.show__bottom .rightMid__text h5{
    width: 257px;
    height: 46px;
    margin: 7px 0 0;
    font-family: OCRAExtended;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
    letter-spacing: -2.2px;
    text-align: left;
    color: var(--light-grey);
}

.show__bottom .rightMid__image{
    display:flex;
    justify-content:center;
    align-items:center;
}
.show__bottom .rightMid__image img{
    height:430px;
    width:auto;
    border-radius:15px;
    padding-bottom:20px;
}








/* .show__header {
    display: flex;
    text-align: center;
}

.show__headerLeftBox {
    display: flex;
    position: absolute;
    left: 10%;
}

.show__headerLeft {
    background-color: var(--grey);
    width: 70px;
    height: 100px;
    margin-right: 10px;
    border-radius: 15px;
}

.show__header > h1 {
    position: absolute;
    left: 16%;
    margin-left: 250px;
    color: var(--light-grey);
}

.show__headerRight {
    background-color: var(--grey);
    width: 200px;
    height: 100px;
    position: absolute;
    right: 5%;
    border-radius: 15px;
}

.show__body {
    margin-top: 200px;
    display: flex;
}

.show__left {
    width: 100%;
    margin-top: 20px;
}

.show__middle {
    width: 100%;
}
.show__right {
    width: 100%;
    margin-top: 1%;
    margin-top: -7%;
    display: flex;
}

.show__leftTop {
    background-color: var(--grey);
    border-radius: 15px;
    width: 28%;
    height: 100px;
}

.show__leftBottomOne {
    background-color: var(--grey);
    border-radius: 15px;
    width: 18%;
    height: 300px;
    margin-top: 100px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.show__leftBottomBox {
    background-color: var(--grey);
    border-radius: 15px;
    width: 18%;
    height: 120px;
    margin-left: 10%;
    margin-bottom: 20px;
}

.show__middleTop {
    display: flex;
    margin-top: -20%;
    margin-left: -70%;
}

.show__middleTopLeft {
    background-color: var(--grey);
    border-radius: 15px;
    width: 70px;
    height: 80px;
}

.show__middleTopRight {
    background-color: var(--grey);
    border-radius: 15px;
    width: 20%;
    height: 80px;
    margin-left: 40%;
}

.show__middleContent {
    width: 125%;
    height: 400px;
    margin-left: -70%;
    margin-top: 20px;
}

.show__middleContentTop {
    background-color: var(--grey);
    border-radius: 15px;
    width: 95%;
    height: 126%;
    display: flex;
}

.show__middleContentBottom {
    margin-top: 4%;
    background-color: var(--grey);
    border-radius: 15px;
    width: 95%;
    height: 126%;
}

.show__middleContentTopImage > img {
    width: 11vw;
    height: 40vh;
    margin-left: 25%;
    margin-top: 15%;
    border-radius: 15px;
}

.show__middleContentTopText {
    margin-top: 75%;
    margin-left: 5%;
}

.show__middleContentTopText > h2 {
    margin-top: 2%;
}

.show__middleContentTopText > p {
    margin-top: 3%;
}

.show__middleContentBottom {
    display: flex;
}

.show__middleContentBottomImage > img {
    width: 13vw;
    margin-left: 15%;
    margin-top: 45%;
    border-radius: 15px;
}

.show__middleContentTopText > h4 {
    background-color: #60ffba;
    width: 6vw;
    padding: 5px;
    border-radius: 5px;
    color: var(--grey);
}

.show__middleContentTopText > h2 {
    color: #60ffba;
}

.show__rightContent {
    margin-top: 1%;
}

.show__rightContentTop {
    display: flex;
    width: 145%;
    height: 26%;
    margin-left: -62%;
    border-radius: 15px;
    background: var(--grey);
    margin-bottom: 20px;
}

.show__rightContentTopText {
    margin-left: 5%;
    margin-top: 55%;
    margin-bottom: 27%;
}

.show__rightContentTopText > p {
    margin-top: 1%;
}

.show__rightContentTopText > h4 {
    background-color: #60ffba;
    width: 6vw;
    padding: 5px;
    border-radius: 5px;
    color: var(--grey);
}

.show__rightContentTopText > h2 {
    color: #60ffba;
    margin-top: 5px;
}

.show__rightContentTopImage > img {
    width: 11vw;
    border-radius: 15px;
    margin-top: 15%;
    margin-left: 35%;
}

.show__rightBlocks {
    margin-left: -8%;
    width: 100%;
}

.show__rightBlocksTop {
    background-color: var(--grey);
    width: 60%;
    height: 100px;
    border-radius: 15px;
}

.show__rightBlocksMiddle {
    background-color: var(--grey);
    width: 60%;
    height: 300px;
    border-radius: 15px;
    margin-top: 70%;
    margin-bottom: 150%;
}

.show__rightBlocksBottom {
    background-color: var(--grey);
    width: 100%;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 10%;
} */
