.reachUs {
    /* margin-block: 100px; */
}

.reachUs .reachUs__top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12.5rem;
}

.reachUs__header {
    /* width: 331px;
    height: 83px; */
    /* margin-block: 80px; */
    font-family: OCRAExtended;
    font-size: 5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    /* text-align: left; */
    color: var(--light-grey);
}

.reachUs__bottom {
    display: flex;
}

.reachUs__bottomLeft {
    display: flex;
    flex-direction: column;
    /* flex: 0.6; */
    align-items: center;
}

.reachUs__bottomLeftTop {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}
.reachUs__bottomLeftTop p {
    /* width: 584px;
    height: 129px; */
    /* margin: 29px 40px 43px 7px; */
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    /* font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22; */
    letter-spacing: normal;
    color: var(--general-color);
}

.reachUs__form {
    display: flex;
}

.reachUs__formLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.reachUs__formLeft .Input {
    width: 36.5rem;
    /* height: 9.563rem; */
    height: 5.563rem;
    /* margin: 10px 6px 10px 20px; */
    margin: 0.625rem;
    padding: 1.25rem;
    /* display:flex;
    flex-flow:column; */
    border-radius: 15px;
    background-color: var(--grey);
}

.reachUs__formLeft .Input p {
    /* width: 111px; */
    /* height: 25px; */
    font-family: OCRAExtended;
    font-size: 1.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -2.4px;
    /* text-align: left; */
    color: var(--general-color);
}
.reachUs__formLeft input[type='text'] {
    max-width: 36.5rem;
    height: 80%;
    /* margin-block: 10px; */
    border-radius: 5px;
    /* background-color: var(--grey); */
    background: transparent;
    border: none;
    outline: none;
    font-family: OCRAExtended;
    /* font-size: 2.5rem; */
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -2.4px;
    color: var(--general-color);
}

.reachUs__formLeft .Inputtextarea {
    height: 20.375rem !important;
    /* width: 584px; */
    /* height: 100px; */
    /* margin: 10px 6px 10px 20px; */
    padding: 1.25rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.reachUs textarea {
    /* height: 326px !important; */
    max-width: 36.5rem;
    height: 80%;
    /* margin-inline: 1.25rem; */
    border-radius: 15px;
    /* background-color: var(--grey); */
    background: transparent;
    border: none;
    outline: none;
    font-family: OCRAExtended;
    /* font-size: 2.5rem; */
    font-size: 2rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -2.4px;
    color: var(--general-color);
}

.reachUs__formRight {
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    gap: 0.5rem;
}

.reachUs__formRight button {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--general-color);
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    padding-block: 1.25rem;
    font-family: OCRAExtended;
    /* font-size: 1.875rem; */
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -3px;
    text-align: left;
    color: var(--dark-grey);
}

.reachUs__formRight button > * {
    font-size: 3.75rem;
}
.reachUs__formRight button > p {
    font-size: 1.875rem !important;
}
.reachUs__bottomRight {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.reachUs__bottomRight .bottomRight__upper {
    display: flex;
}

.bottomRight__upper .left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 34.25rem;
    height: 20.313rem;
    margin: 0.625rem;
    padding: 1.563rem 0 1.563rem 1.563rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.bottomRight__upper .left .left__topP {
    width: 100%;
    /* height: 30px; */
    /* margin-bottom:132px; */
    font-family: OCRAExtended;
    font-size: 1.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -3px;
    text-align: left;
    color: var(--general-color);
}

.bottomRight__upper .left .left__lowerP {
    /* width: 502px; */
    /* height: 129px; */
    width: 100%;
    margin-bottom: 0.625rem;
    font-family: ISOCPEUR;
    font-size: 1.688rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.22;
    letter-spacing: normal;
    text-align: left;
    color: var(--light-grey);
}

.reachUs__bottomRight .bottomRight__lower {
    display: flex;
    flex-flow: column;
    /* justify-content:flex-start; */
    /* align-items:flex-start; */
    /* gap:0.5rem; */
}

.bottomRight__lower .contact {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.contact .contact__left {
    background: var(--general-color) !important;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.reachUs__bottomRight .bottomRight__lower .contact .contact__left > * {
    font-size: 3.75rem;
}
/* .reachUs__formRight button > p{
    font-size:1.875rem !important;
} */
.contact .contact__left p {
    /* width: 79px;
    height: 31px; */
    margin-top: 0.625rem;
    font-family: OCRAExtended;
    font-size: 1.875rem !important;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -3px;
    text-align: left;
    color: var(--dark-grey);
}

.contact .contact__right {
    width: 34.25rem;
    height: 9.563rem;
    /* margin: 20px 12px 20px 11px;
    padding: 56px 35px 56px 25px; */
    border-radius: 15px;
    background-color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .contact__right p {
    /* width: 488px; */
    width: 90%;
    /* height: 41px; */
    font-family: OCRAExtended;
    font-size: 2.5rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -4px;
    text-align: left;
    color: var(--general-color);
}

.textarea {
    resize: none;
}

/* 
.reachUs__bottomRight {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reachUs__bottomRightTop {
    align-items: center;
    display: flex;
}

.reachUs__bottomRightTopHeader {
    padding: 15px;
    background-color: var(--grey);
    border-radius: 15px;
    width: 25vw;
}

.reachUs__bottomRightTopHeaderP {
    font-size: 18px;
    color: #60ffba;
    margin-top: 0px;
}

.reachUs__bottomRightTopHeaderp {
    margin-top: 70px;
    color: var(--light-grey);
}

.reachUs__bottomRightTopBlocks {
    margin-left: 10px;
}

.reachUs__bottomRightTopBlockLeft {
    width: 85px;
    height: 100px;
    background-color: var(--grey);
    border-radius: 15px;
}

.reachUs__bottomRightTopBlockRight {
    border-radius: 15px;
    width: 85px;
    height: 100px;
    background-color: var(--grey);
    margin-left: 95px;
}

.reachUs__bottomRightBottomTop {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.reachUs__bottomRightBottom {
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}

.reachUs__bottomRightBottomTopIcon {
    background-color: #60ffba;
    border-radius: 15px;
    width: 3vw;
    text-align: center;
    padding: 20px;
}

.reachUs__bottomRightBottomTopIcon > p {
    margin-top: 5px;
    color: black;
}

.reachUs__bottomRightBottomTopText {
    background-color: var(--grey);
    border-radius: 15px;
    margin-left: 10px;
    padding: 30px 20px;
    width: 20vw;
}

.reachUs__bottomRightBottomTopText > p {
    text-align: center;
    color: #60ffba;
    font-weight: bold;
    margin-top: 0px;
    font-size: 25px;
}

.reachUs__bottomRightBottomBlockRight {
    border-radius: 15px;
    width: 85px;
    height: 100px;
    background-color: #222629;
    margin-left: 95px;
} */

@media screen and (min-width: 300px) and (max-width: 640px) {
    .reachUs__top .reachUs__header {
        font-size: 6rem;
    }
}
