.what {
    display: flex;
}

.what__left{
    display:flex;
    flex-flow:column;
}

.what__left .top{
    display:flex;
}

.what__left .top__left{
    display:flex;
    flex-flow:column;
}

.what__left .top__left .upper{
    display:flex;
    justify-content:flex-end;
}

.what__left .top__left .lower{
    display:flex;
}

.what__left .top__left .lower__left{
    display:flex;
    flex-flow:column;
    align-items:flex-end;
}

.what__left .top__left .lower__left .row1{
    display:flex;
}
.what__left .top__left .lower__right img{
    width: 255px;
    height: 511px;
    margin: 4px 0 23px 21px;
    object-fit: fill;
    border-radius: 15px;
}

.what__left .top__right{
    display:flex;
    flex-flow:column;
}

.what__left .top__right .upper{
    display:flex;
    justify-content:flex-end;
}

.what__left .top__right .upper__left img{
    width: 262px;
    height: 335px;
    margin: 20px 2px 17px 0px;
    object-fit: fill;
    border-radius: 15px;
}

.what__left .top__right .upper__right{
    display:flex;
    flex-flow:column;
    justify-content:flex-end;
}

.what__left .top__right .lower img{
    width: 401px;
    height: 331px;
    margin: 0px 25px 25px 21px;
    object-fit: fill;
    border-radius: 15px;
}
.what__left .bottom{
    display:flex;
    flex-flow:row;
    justify-content:flex-end;
}

.what__rightContentBottom{
    display:flex;
    justify-content:flex-end;
}
/* .what__leftContent {
    display: flex;
    flex: 0.6;
}

.what__left {
    margin-right: 20px;
}

.what__leftTop {
    margin-top: 200px;
    width: 175px;
    height: 125px;
    background-color: var(--grey);
    border-radius: 15px;
}

.what__leftBottom {
    background-color: var(--grey);
    margin-top: 120px;
    width: 75px;
    height: 100px;
    margin-left: 100px;
    border-radius: 15px;
} */
/* 
.what__middle {
    margin-top: 85px;
    margin-right: 20px;
}

.what__middleTop {
    background-color: var(--grey);
    width: 80px;
    height: 100px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 90px;
}

.what__middleImage > img {
    height: 344px;
    border-radius: 15px;
}

.what__rightTop {
    display: flex;
    margin-top: 85px;
    margin-bottom: 15px;
}

.what__rightTopImage > img {
    width: 150px;
    border-radius: 15px;
}

.what__rightTopRight {
    background-color: var(--grey);
    width: 80px;
    height: 100px;
    border-radius: 15px;
    margin-top: 125px;
    margin-left: 15px;
}

.what__rightBottomImage > img {
    height: 215px;
    width: 245px;
    border-radius: 15px;
}

.what__rightBottomRight {
    margin-top: 15px;
    margin-left: 150px;
    border-radius: 15px;
    background-color: var(--grey);
    width: 200px;
    height: 100px;
}

.what__rightContent {
    display:flex;
    flex-flow:column;
} */

/* .what__rightContentTop > h1 {
    color: #60ffba;
    font-size: 60px;
}

.what__rightContent {
    
} */

/* .what__rightContentTop p{
    margin-top: 50px;
    color: var(--light-grey);
}

.what__rightContentBottom {
    display: flex;
    margin-top: 77px;
    margin-left: 290px;
}

.what__rightContentBottomLeft {
    background-color: var(--grey);
    width: 75px;
    height: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.what__rightContentBottomRight {
    border-radius: 15px;
    background-color: var(--grey);
    width: 75px;
    height: 100px;
} */
