.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* margin-bottom:50px; */
}
.yellow {
    background-color: var(--general-color) !important;
}
.about .top__spacer {
    display: flex;
    justify-content: center;
}
.about__top {
    display: flex;
    justify-content: center;
    /* width:92.75%; */
}

.about__bottom {
    display: flex;
    justify-content: center;
}

.about__left {
    display: flex;
    justify-content: center;
}

.about__bottom .space {
    display: flex;
    align-items: flex-end;
}
.about__right {
    display: flex;
    flex-flow: row;
}
.about__right .images__left {
    display: flex;
    flex-flow: column;
}

.about__right .images__upper img {
    width: 24.75rem;
    height: 20.875rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}

.about__right .images__lower img {
    width: 24.75rem;
    height: 20.875rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}
.about__right .images__inner {
    display: flex;
}

.about__right .images__right .socialMedia .greyRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__right .images__innerInnerLeftInside {
    width: 16.375rem;
    height: 20.938rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}

.about__right .socialMedia {
    display: flex;
}

.about__right .images__innerRight {
    display: flex;
    align-items: center;
}

.socialMedia .greyRectangle a :only-child {
    font-size: 4.688rem;
}

@media screen and (min-width: 300px) and (max-width: 480px) {
    .web__hidden {
        display: block;
    }
    .mobile__hidden {
        display: none;
    }
    .about__bottom {
        flex-flow: column;
    }
    .about__bottom .about__right {
        justify-content: center;
    }
    .about__bottom .about__right .images__left {
        flex-flow: row;
    }
    .about__bottom .about__right .images__right {
        display: flex;
        flex-flow: row;
    }
    .about__bottom .about__right .images__right .socialMedia {
        flex-flow: column;
    }
    .about__bottom .about__right img {
        /* margin:0.625rem; */
        margin-right: 0.625rem;
        height: 400px;
        width: auto;
        /* overflow-y:hidden; */
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 480px) {
    .web__hidden {
        display: block;
    }
    .mobile__hidden {
        display: none;
    }
    .about__bottom {
        flex-flow: column;
    }
    .about__bottom .about__right {
        justify-content: center;
    }
    .about__bottom .about__right .images__left {
        flex-flow: row;
    }
    .about__bottom .about__right .images__right {
        display: flex;
        flex-flow: row;
    }
    .about__bottom .about__right .images__right .socialMedia {
        flex-flow: column;
    }
    .about__bottom .about__right img {
        margin-right: 0.625rem;
        height: 400px;
        width: auto;
    }
}

/* @media screen and (min-width: 300px) {
    .space {
        width: 0px;
    }

    .about__right {
        margin-inline: auto;
        margin-top: 5rem;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width: 640px) {
    .space {
        width: 100px;
    }

    .about__left {
        margin-inline: auto;
    }

    .about__right {
        margin-inline: none;
    }

    .about__right .images__innerLeft {
        display: flex;
        flex-flow: row;
    }

    .about__right .images__upper img {
        margin: 0.625rem;
    }

    .about__right .images__lower img {
        margin: 0.625rem;
    }

    .hidden {
        display: inline-block;
    }
}

@media screen and (min-width: 768px) {
    .about__right {
        margin-inline: auto;
        margin-top: 0rem;
    }

    .about__right .images__innerLeft {
        display: flex;
        flex-flow: column;
    }
} */
