.about {
    display: flex;
    flex-flow: column;
    justify-content: center;
    /* margin-bottom:50px; */
}
.yellow {
    background-color: var(--general-color) !important;
}

.about__top {
    display: flex;
    justify-content: flex-end;
}

.about__bottom {
    display: flex;
    justify-content: center;
}

.about__left {
    display: flex;
    justify-content: center;
}

.about__bottom .space {
    display: flex;
    align-items: flex-end;
}
.about__right {
    display: flex;
    flex-flow: row;
}

.about__right .images__inner {
    display: flex;
}

.about__right .images__right .socialMedia .greyRectangle {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__right .images__innerInnerLeftInside {
    width: 16.375rem;
    height: 20.938rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}

.about__right .socialMedia {
    display: flex;
}

.about__right .images__innerLeft {
    display: flex;
    flex-flow: column;
}

.about__right .images__innerRight {
    display: flex;
    align-items: center;
}

.about__right .images__upper img {
    width: 24.75rem;
    height: 20.875rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}

.about__right .images__lower img {
    width: 24.75rem;
    height: 20.875rem;
    margin: 0.625rem;
    object-fit: fill;
    border-radius: 15px;
}

.socialMedia .greyRectangle a :only-child {
    font-size: 4.688rem;
}

@media screen and (min-width: 300px) {
    .space {
        width: 0px;
    }

    .about__right {
        margin-inline: auto;
        margin-top: 5rem;
    }
}

@media screen and (min-width: 640px) {
    .space {
        width: 100px;
    }

    .about__left {
        margin-inline: auto;
    }

    .about__right {
        margin-inline: none;
        margin-top: 0rem;
    }
}
