.intro {
    /* margin-top: 10%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1900px;
    /* margin-left: auto; */
    margin-inline: auto;
    /* margin-bottom: 10%; */
}

.intro__title {
    display: flex;
}

.intro__titleLetter {
    display: flex;
    margin-right: 20px;
    background-color: blue;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 131.9px;
    padding: 0px 10px 5px;
    background-color: #60ffba;
    border-radius: 15px;
}

.intro__titleLetter > span {
    color: #222629;
    font-size: 150px;
    font-weight: bold;
    font-family: 'OCRAExtended';
}

.intro__click {
    cursor: pointer;
    display: flex;
    align-items: bottom;
}

.intro__click > span {
    font-size: 1.25rem;
    padding-top: 5rem;
    font-weight: 500;
    font-family: 'OCRAExtended';
}

.intro__subtitle {
    /* margin-top: 10px;
  padding-left: 16rem;
  margin-left: 31rem; */
    /* padding-bottom: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.intro__subtitle > span {
    font-weight: 500;
    color: var(--general-color);
    font-size: 50px;
    font-family: 'OCRAExtended';
}

/* .intro__description {
  margin-top: 1%;
  margin-left: -45rem;
} */

.intro__description > span {
    color: #a6a6a6;
    font-size: 2.088rem;
    display: inline-block;
    padding-top: 0.625rem;
    font-family: 'OCRAExtended';
}

.intro .giveUs {
    height: 5.813rem;
    padding-left: 1.875rem;
    font-family: OCRAExtended;
    font-size: 1.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -1.5px;
    text-align: left;
    color: #adadad;
}
.intro .join {
    height: 5.813rem;
    padding-left: 1.875rem;
    font-family: OCRAExtended;
    font-size: 1.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    letter-spacing: -1.5px;
    text-align: left;
    color: #adadad;
}

@media screen and (min-width: 300px) and (max-width: 640px) {
    .intro__description > span {
        font-size: 1.75rem;
        -webkit-text-size-adjust: none;
    }
    .intro .join,
    .intro .giveUs {
        padding-left: 1rem;
        font-size: 1.75rem;
    }
}

@media only screen and (min-device-width: 300px) and (max-device-width: 640px) {
    .intro__description > span {
        font-size: 1.75rem;
        -webkit-text-size-adjust: none;
    }
    .intro .join,
    .intro .giveUs {
        padding-left: 1rem;
        font-size: 1.75rem;
    }
}

/* @media screen and (max-width: 640px) {
    .intro__description > span {
        font-size: 2.088rem;
    }
} */
