.head{
    overflow-y: hidden;
    margin: 10rem 5rem;
    height: 38rem;
}

.wrapper {
    display: flex;
}
.wrapper > h1 {
    font-size: 5em;
    color: var(--general-color);
    font-family: OCRAExtended;
    margin-left: 1.75em;
}

.buttons1 {
    display: flex;
    flex-flow: row;
    margin-left: 50rem;
    justify-content: right;
    width: 4.375rem;
    height: 5.625rem;
}

.button1 {
    display: flex;
    padding: 1rem;
    border-radius: 0.938rem;
    background-color: var(--general-color);
    font-family: OCRAExtended;
    font-size: 4.063rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.03;
    margin-right: 1rem;
    color: var(--dark-grey);
}

.grid-list1 {
    overflow-x: scroll;
    overflow-y: scroll;
    height: 27.375rem;
}
.col1.selected {
    border-bottom: none;
}
.testimonials {
    display: flex;
    flex-flow: row;
}
.testimonials-text {
    display: flex;
    flex-direction: column;
    width: 76.375rem;
    height: 27.375rem;
    padding: 4.063rem 1.438rem 1.938rem 2.063rem;
    margin: 0 -3.563rem 0rem 5rem;
    border-radius: 20px;
    background-color: #2b2f32;
    font-family: OCRAExtended;
    color: #adadad;
    font-size: larger;
    position: relative;
}

.description > p {
    width: 65.625rem;
}

.client {
    background-color: var(--general-color);
    font-family: OCRAExtended;
    text-transform: uppercase;
    font-weight: 600;
    color: #2b2f32;
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 0.5em;
    margin-right: 2.75em;
    border-radius: 0.5em;
    margin: 2.438rem 6rem 5rem 55rem;
}
.description{
    padding-left: 2rem;
   
}
.company {
    color: var(--general-color);
    font-family: OCRAExtended;
    width: 9.625rem;
    height: 1.563rem;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: 0.625rem 5.313rem 2em 54.938rem;
}
