.wrapper{
    display: flex;
}
.wrapper>h1{
    font-size: 5em;
    color: var(--general-color);
    font-family: OCRAExtended;
    margin-left: 1.75em;
}

.buttons{
    display: flex;
    justify-content: right;
}

.left__btn, .right__btn{
    background-color: var(--general-color);
    color: #2d2d2d;
    height: 2.5em;
    width: 2.5em;
    border-radius: 0.5em;
    padding: 2em;
    margin-top: 2.5em;
    align-items: center;
}

.left__btn{
    margin-left: 60em;
    margin-right: 2em;
    width: 2.25em;
    height: 3.9em;
}