.ourTeam{
    display:flex;
    flex-flow:column;
}

.ourTeam__top{
    display:flex;
    justify-content:center;
    align-items:center;
}

.ourTeam__top .title p{
    width: 331px;
    height: 83px;
    margin: 125px 4px 96px 5px;;
    font-family: OCRAExtended;
    font-size: 80px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.04;
    letter-spacing: -8px;
    /* text-align: left; */
    color: #adadad;
}

.ourTeam__bottom .bottom__upper,.ourTeam__bottom .bottom__lower{
    display:flex;
    justify-content:center;
}

.ourTeam__bottom .bottom__upper .col1{
    display:flex;
    flex-flow:column;
    justify-content:center;
}
.ourTeam__bottom .bottom__upper .col2{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
}

.ourTeam__bottom .bottom__upper .col3,.ourTeam__bottom .bottom__lower .col3{
    display:flex;
    flex-flow:row;
}

.ourTeam__bottom .bottom__upper .col4,.ourTeam__bottom .bottom__lower .col4{
    display:flex;
    /* flex-flow:column; */
    justify-content:flex-start;
}

.ourTeam__bottom .bottom__lower .col1{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
}

.ourTeam__bottom .bottom__lower .col4{
    display:flex;
    flex-flow:column;
    justify-content:flex-start;
    margin-inline:10px;
}

.ourTeam__bottom .bottom__lower .col5{
    display:flex;
}



