:root {
    --dark-grey: #222629;
    --grey: #2b2f32;
    --light-grey: #adadad;
    --general-color: #ffca60;
    /* font-size:10px; */
}

.app {
    margin-left: auto;
    margin-right: auto;
    zoom: 100%;
    max-width: 1900px;
}

/* @media screen and (min-device-aspect-ratio: 16/9) {
    .app {
        zoom: 100%;
    }
}

@media screen and (min-device-aspect-ratio: 16/10) {
    .app {
        zoom: 80%;
    }
} */

@media screen and (min-width: 300px) {
    .app {
        zoom: 25%;
    }
}

@media screen and (min-width: 640px) {
    .app {
        zoom: 33%;
    }
}

/* md breakpoint */
@media screen and (min-width: 768px) {
    .app {
        zoom: 40%;
    }
}

@media screen and (min-width: 1024px) {
    .app {
        zoom: 55%;
    }
}

@media screen and (min-width: 1280px) {
    .app {
        zoom: 80%;
    }
}

@media screen and (min-width: 1536px) {
    .app {
        zoom: 100%;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (min-width: 1350px) {
    :root {
        font-size: 11px;
    }
}

@media screen and (min-width: 1500px) {
    :root {
        font-size: 12px;
    }
}

@media screen and (min-width: 1700px) {
    :root {
        font-size: 13px;
    }
}

@media only screen and (min-width: 1900px) {
    :root {
        font-size: 14px;
    }
}
.app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.darkRectangle {
    width: 7.5rem;
    height: 9.563rem;
    margin: 0.625rem;
    /* margin: 20px 10px; */
    border-radius: 15px;
    background-color: var(--dark-grey);
}

.darkChange {
    background-color: var(--dark-grey) !important;
}
.greyRectangle {
    width: 7.5rem; /*120*/
    height: 9.563rem; /*153*/
    margin: 0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.greyFatRectangle {
    width: 16.375rem;
    height: 9.563rem;
    /* margin: 20px 17px 20px 14px; */
    margin: 0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.greyLongRectangle {
    width: 7.5rem;
    height: 20.375rem;
    /* margin: 20px 20px; */
    margin: 0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}
.no-border {
    border-radius: 0px !important;
    margin: 0px !important;
    padding: 0px !important;
}
/* .curve-rectangle-left{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
} */

/* .curve-rectangle-right{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
} */
