:root{
    --dark-grey: #222629;
    --grey: #2b2f32;
    --light-grey: #adadad;
    --general-color: #ffca60;
    /* font-size:10px; */
}
  
  @media screen and (min-width:1200px){
    :root{
      font-size:12px;
    }
  }

  @media screen and (min-width:1350px){
    :root{
      font-size:13px;
    }
  }

  @media screen and (min-width:1500px){
    :root{
      font-size:14px;
    }
  }

  @media screen and (min-width:1700px){
    :root{
      font-size:15px;
    }
  }
  
  @media only screen and (min-width:1900px){
    :root{
      font-size:16px;
    }
  }
.app{
    width:100%;
    height:100%;
    overflow:hidden;
}
.darkRectangle{
    width: 7.5rem;
    height: 9.563rem;
    margin: 0.625rem;
    /* margin: 20px 10px; */
    border-radius: 15px;
    background-color:var(--dark-grey);
}

.darkChange{
    background-color:var(--dark-grey) !important;
}
.greyRectangle{
    width: 7.5rem;/*120*/
    height: 9.563rem;/*153*/
    margin: 0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.greyFatRectangle{
    width: 16.375rem;
    height: 9.563rem;
    /* margin: 20px 17px 20px 14px; */
    margin:0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}

.greyLongRectangle{
    width: 7.5rem;
    height: 20.375rem;
    /* margin: 20px 20px; */
    margin:0.625rem;
    border-radius: 15px;
    background-color: var(--grey);
}
.no-border{
    border-radius:0px !important;
    margin:0px !important;
    padding:0px !important;
}
/* .curve-rectangle-left{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
} */

/* .curve-rectangle-right{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
} */
