@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--dark-grey);
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@font-face {
  font-family: "OCRAExtended";
  src: local("OCRAExtended"), url(./fonts/OCRAEXT.TTF) format("truetype");
}
@font-face {
  font-family: "ISOCPEUR";
  src: local("ISOCPEUR"), url(./fonts/isocpeur.ttf) format("truetype");
}
@font-face {
  font-family: "JdScarabeoLightRegular";
  src: local("JdScarabeoLightRegular-EZVl"),
    url(./fonts/JdScarabeoLightRegular-EZVl.ttf) format("truetype");
}
@font-face {
  font-family: "Scared";
  src: local("Scared"), url(./fonts/jd_scarabeo_light.ttf) format("truetype");
}
